@using MySite.AppData;

<!-- My Tech Listing -->
<section class="page-title section pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1 class="text-capitalize mb-0 text-lg"><span class="MSH-C">MY</span> <span class="MH-2-C"> WORDPLAY</span></h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio">
    <div class="container">

        <div class="row mb-5 justify-content-center">
            <div class="col-10 text-center">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn active ">
                        <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="technology" />Technologies
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="web-development" />Web Development
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="programming-languages" />Programming Languages
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="reviews-news" />Tech Reviews &Aacute; News
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="productivity-time-management" />Productivity &Aacute; Time Management
                    </label>
                    <label class="btn">
                        <input type="radio" name="shuffle-filter" value="personal-development-motivation" />Personal Development and Motivation
                    </label>
                </div>
            </div>
        </div>

        <div id="Wordplay-Listings" class="shuffle-wrapper-art row shuffle-wrapper portfolio-gallery">

            @{

                foreach (var tech in MyAllWordPlays)
                {
                    <div class="col-lg-3 col-3 mb-3 shuffle-item" data-groups="@tech.DataGroup">
                        <div class="position-relative inner-box">
                            <div class="image position-relative ">

                                @if (tech.IMG != "")
                                {
                                    <img class="img-fluid w-100 d-block" src="@tech.IMG" alt="@tech.Heading" title="@tech.Heading" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                                }
                                else
                                {
                                    <video autoplay="" loop="" muted="" playsinline="" class="ArtVideo-Listing" style="object-fit: contain; pointer-events: none;" alt="@tech.Heading" title="@tech.Heading"><source src="@tech.VIDEO" type="video/mp4"></video>
                                }
                                
                                <div class="overlay-box">
                                    <div class="overlay-inner">

                                        <a class="overlay-content" href="@tech.URL" title="@tech.Heading" target="_self">
                                            <h5 class="mb-0">@((MarkupString)tech.Title)</h5>
                                            <p>@tech.SubTitle</p>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }

        </div>

    </div>
</section>
<!-- My Tech Listing -->


@code
{

    MyWordPlays WordPlaysOBJ = new MyWordPlays();

    List<WordPlay> MyAllWordPlays = new List<WordPlay>();

    protected override void OnInitialized()
    {
        this.MyAllWordPlays = WordPlaysOBJ.GetMyWordPlays(100);
    }

}