@page "/My-Chronologies"

@inject NavigationManager NavigationManager

@using MySite.Pages.LandingPages
@using MySite.Pages.LandingPages.Swipers
@using MySite.Pages.LandingPages.Listings

@using MySite.AppData

<!-- WRAPPER -->
<div id="wrapper" class="noice-effect overflow-hidden">

    <Header />

    <section class="page-title section pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1 class="text-capitalize mb-0 text-lg"><span class="MSH-C">MY</span> <span class="MH-2-C"> CHRONOLOGIES</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-10 text-center">
                    <div class="btn-group btn-group-toggle " data-toggle="buttons">
                        <label class="btn active ">
                            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
                        </label>
                        <label class="btn">
                            <input type="radio" name="shuffle-filter" value="chronologies" />Chronologies
                        </label>
                    </div>
                </div>
            </div>

            <div class="shuffle-wrapper-art row shuffle-wrapper portfolio-gallery">

                @{

                    foreach (var art in MyAllWritings)
                    {
                        <div class="col-lg-2 col-md-2 col-3 mb-2 shuffle-item" data-groups="@art.DataGroup">
                            <div class="position-relative inner-box">
                                <div class="image position-relative">

                                    @if (art.IMG != "")
                                    {
                                        <img class="img-fluid w-100 d-block" src="@art.IMG" alt="@art.Heading" title="@art.Heading" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">
                                    }
                                    else
                                    {
                                        <video autoplay="" class="img-fluid w-100 d-block" controls="" controlslist="nodownload" loop="" playsinline="" preload="metadata" style="object-fit: contain; border-radius: initial;"><source data-testid="AssetMedia--video" src="@art.VIDEO" type="video/mp4"></video>
                                    }

                                    <div class="overlay-box">
                                        <div class="overlay-inner">

                                            <a class="overlay-content" href="@art.URL" title="@art.Heading" target="_self">
                                                <h5 class="mb-0">@art.Title</h5>
                                                <p>@art.SubTitle</p>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }

            </div>

        </div>
    </section>

    <Footer />

</div>
<!-- WRAPPER -->

@code {


    MyWritings ArtsOBJ = new MyWritings();

    List<Writing> MyAllWritings = new List<Writing>();


    protected override void OnInitialized()
    {
        this.MyAllWritings = ArtsOBJ.GetMyWritings(100);
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("/My-Writings/");
    }

}
