@page "/MyArtFulness"

@inject NavigationManager NavigationManager

@using MySite.Pages.LandingPages
@using MySite.Pages.LandingPages.Swipers
@using MySite.Pages.LandingPages.Listings

@using MySite.AppData

<!-- WRAPPER -->
<div id="wrapper" class="noice-effect overflow-hidden">

    <Header />


    <!-- My Art Listing -->

    <section class="page-title section pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <h1 class="text-capitalize mb-0 text-lg">MY ARTFULNESS</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="portfolio">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-10 text-center">
                    <div class="btn-group btn-group-toggle " data-toggle="buttons">
                        <label class="btn active ">
                            <input type="radio" name="shuffle-filter" value="all" checked="checked" />All
                        </label>
                        <label class="btn">
                            <input type="radio" name="shuffle-filter" value="stickynotes" />Sticky Notes
                        </label>
                        <label class="btn">
                            <input type="radio" name="shuffle-filter" value="knifepainting" />Knife PaintiNgs
                        </label>
                    </div>
                </div>
            </div>

            <div class="shuffle-wrapper-art row shuffle-wrapper portfolio-gallery">

                @{

                    foreach (var art in MyAllArts)
                    {
                        <div class="col-lg-3 col-md-3 col-6 mb-4 shuffle-item" data-groups="@art.DataGroup">
                            <div class="position-relative inner-box">
                                <div class="image position-relative">

                                    <img class="img-fluid w-100 d-block" src="@art.IMG" alt="@art.Heading" title="@art.Heading" loading="lazy" decoding="async" importance="high" crossorigin="anonymous">

                                    <div class="overlay-box">
                                        <div class="overlay-inner">

                                            <a class="overlay-content" href="@art.URL" title="@art.Heading" target="_self">
                                                <h5 class="mb-0">@art.Title</h5>
                                                <p>@art.SubTitle</p>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }

            </div>
        </div>
    </section>

    <!-- My Art Listing -->

    <Footer />

</div>
<!-- WRAPPER -->

@code {

    [Parameter]
    public long ID { get; set; }

    [Parameter]
    public string Slug { get; set; }

    List<Art> MyAllArts;

    Art MyArt = null;
    Art MyPreviousArt = null;
    Art MyNextArt = null;

    protected override void OnInitialized()
    {
        this.MyAllArts = MyArts.GetMyArts(100);

        long MyPreviousArtID = this.ID - 1;
        long MyNextArtID = this.ID + 1;

        this.MyArt = MyArts.GetMyArt(this.ID, this.Slug);
        this.MyPreviousArt = MyArts.GetMyArt(MyPreviousArtID);
        this.MyNextArt = MyArts.GetMyArt(MyNextArtID);
    }

    private void Navigate()
    {
        NavigationManager.NavigateTo("MyArtFulness/"+ this.ID+ "/" + this.Slug);
    }

}

